.joke-container {
  display:flex;
  align-items: center;
  justify-content:center;
  height:80vh
}
.joke {
  /* border:solid pink 2px;  */
  font-size: xx-large;
 
  border-radius: 80%;
}

.gif {
  height:70vh;
  width:70vh;
  margin-right:10%;
  margin-left:10%;
  border-radius: 10%;
}