.full-heart, .empty-heart{
  height: 30px;
  width:30px;
}

.joke-card {
  display: flex;
  background-color: #ffbdef;
  align-items:center;
  font-style:italic;
  color:#4e4cce;
  height:40%;
  width:60%;
  padding: 10%;
  margin-bottom: 10%;
  border-radius: 90%;
}

.heart{
  height: 30px;
  width:30px;
}

