nav, .logo{
  display: flex;
  /* border:solid black 3px; */
  background-color:#f9efec;
  align-items: center;
  justify-content: flex-start;
  opacity: 90%;
  font-family: 'Indie Flower', cursive;
  height:18vh
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.kitty{
  height: 17vh;
  width:40vh;
}

.button-container {
  display: flex;
  justify-content: center; 
  
}

.purrfect-btn{
  margin-right: 40%;
  font-weight: 400;
  color:#4e4cce;
  border-radius: 20%;
  border:none;
  background-color: #ffbdef;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

@media(max-width: 530px) {
  .logo{
    height:3vh;
    width:3vw;
  }
  .nav{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    height:40%;
    /* align-items: center;
    justify-content: center; */
  }

  .button-container {
    margin-top: 10px; 
  }

  .purrfect-btn {
   display:none
  }
}